.nav-top {
    height: 90px;
    overflow: hidden;
    background-color: #f72210;
}
.logo {
    width: 365px;
    outline: none;
}
.badge {
    font-size: 1.4em;
}
.nav-link {
    color: black;
    font-weight: 700;
}
.nav-link:hover {
    text-decoration: underline;
    color: black;
}
.story {
    font-size: 0.8em;
    line-height: 1em;
}
.story img {
    position: relative;
    width: 100%;
}
.story .story-type {
    color: red;
    background-color: rgba(255, 255, 255, 0.5);
    margin: -23px 0 0 0;
    position: absolute;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}
.small-story img {
    height: 180px;
    width: 100%;   
}
.sit {
    padding-bottom: 40px;
}
.story-types {
    color: black;
    background-color: rgb(160, 156, 156);
    margin: -38px 0 0 0;
    position: absolute;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}
.mate {
    background: white;
    color: red;
}
.name {
    font-size: 1.5em;
}
.names {
    color: red;
    padding-top: 30px;
    font-size: 1.2em;
    border-top: 1px solid grey;
}
.dol {
    padding-bottom: 40px;
}
.aim {
    padding-left: 20px;
    border-top: 1px solid grey;
}
.pic {
    height: 90px; 
}
.smaller-story {
    margin-top: 20px;
    border-bottom: 1px solid lightslategray;
}
.smaller-story img {
    height: 100%;
}
.policy {
    font-size: .90em;
    border-top: 2px solid lightslategray;
    border-bottom: 3px solid lightslategray;
    padding-top: 10px;
}
.policy img {
    width: 60px;
    height: 60px;
}
.vs {
    width: 27px;
    height: 27px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    left: 45%;
    margin-top: -10px;
    color: white;
}
.opinion {
    font-size: .90em;
    border-bottom: 1px solid lightslategray;
}
.opinion img {
    width: 60px;
    height: 60px;
}
.editors-pick {
    padding-top: 20px;
    width: 100%;
}
.heading {
    margin-bottom: 5px;
}
.red-logo {
    margin-right: 10px;
}

.article img {
    width: 100%;
}
.joe {
    background-color: red;
    color: white;
    display: inline-block;
}
.biden {
    color: red;
    display: inline-block;
}
.met {
    margin-top: 20px;
    margin-left: -90px;
    position: absolute;
    padding-bottom: 20px;
}
.sub {
    margin-left: 10px;
    font-size: 1em;
}
.ticc {
    width: 200px;
    height: 300px;
    padding-bottom: 20px;
}
.words {
    width: 220px;
}
.side {
    display: flex;
    flex-direction: row;
}
.aside {
    width: 200px;
    
}
.words {
    padding-left: 100px;
    height: 18  0px;
}
.sign-in {
    width: 150px;
}
.wh {
    font-size: 1.2em;
}
.we {
    font-size: 2em;
    color: #f72210 !important;
}
.whoo {
    line-height: 1;
}

